<div class="seller-auth">
  @if (!showLogin()) {
    <div class="sign-up">
      <h1>Seller Sign-up</h1>
      <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
        <input
          type="text"
          class="form-input"
          placeholder="Enter Name"
          name="name"
          ngModel
          required
        />

        <input
          type="email"
          class="form-input"
          placeholder="Enter Email"
          name="email"
          ngModel
          required
        />
         <input
          type="password"
          class="form-input"
          placeholder="Enter Password"
          name="password"
          ngModel
          required
        />
        <button class="form-button" [disabled]="sellerSignUp.invalid">Sign Up</button>
        <a class="auth-toggle-link" (click)="openLogin()">Already have account? Click for Login</a>
      </form>
    </div>
  }

  @if (showLogin()) {
    <div class="login">
      <h1>Seller Login</h1>
      <p class="error-p">{{ authError }}</p>
      <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
        <input
          type="email"
          class="form-input"
          placeholder="Enter Email"
          name="email"
          ngModel
          required
        />
        <input
          type="password"
          class="form-input"
          placeholder="Enter Password"
          name="password"
          ngModel
          required
        />
        <button class="form-button" [disabled]="sellerLogin.invalid">Login</button>
        <a class="auth-toggle-link" (click)="openSignUp()">Don't have account? Click for Sign-up</a>
      </form>
    </div>
  }
</div>
